# Ignore everything
**

# Allow files and directories
!*.sln
!/src/**
!/tests/**
!Directory.Build.props


# Ignore unnecessary files inside allowed directories
**/*~
**/*.user
**/tmp/
**/[Bb]in/
**/[Oo]bj/
**/.DS_Store
**/Properties